
<div class="tm-block tm-block-main">
  <div class="uk-container uk-container-center">
    <div class="tm-middle uk-grid" data-uk-grid-margin="" data-uk-grid-match="">
      <div class="tm-main uk-width-medium-1-1">
        <main class="tm-content">
          <div class="system-message-container">
		   <%if notice.present? %>
		   <div class="uk-alert uk-alert-large uk-alert-success"><%= notice %></div>
		   <%end%>
		   <%if alert.present? %>
		   <div class="uk-alert uk-alert-large uk-alert-success"><%= alert %></div>
		   <%end%>
		   </div>
          <article class="uk-article">
            <div>
              <p> </p>
              

			<div class="fabrikDataContainer filmstrip homefilmstrip">
			<div id="list_34_com_content_34" class="">
			  <div class="fabrik_groupdata">
			    
			    <h4 class="main-heading">Collections</h4>
			    <div class="uk-grid by-butaca">
			     <%Collection.all.each do |coll|%>
			     <%if coll.image.present?%>	
			      <div class="uk-width-medium-1-2 uk-width-small-1-2">
			        <p class="uk-text-left mtop">			
			         <%if coll.image.present?%>		
			          <a href="/collections/<%=coll.id%>"> <img alt="<%=coll.image.name%>" src="<%=coll.image.url(:custom)%>"  class="fabrikLightBoxImage"></a>
			         <%end%>
			        </p>
			       
			        <h3 class="uk-text-left bottom-heading"><a href="/"><%= t coll.collection_name%><small>by <%=User.find(coll.user_id).email%></small></a>
			          <a onclick="" id="collection_11" class="addCollection follow_btn ">Sígueme</a>
			        </h3>
			      </div>
			      <%end%>
			     <%end%>
			    </div>
			  </div>
			  <div class="filmstrip_footer">
			    <div class="fabrik___heading">
			      <span>
			        <div class="fabrikNav"></div>
			      </span>
			    </div>
			  </div>
			</div>
			</div>

              
              <p></p> 
              <br/><br/><br/><br/>
            </div>
          </article>
        </main>
      </div>
    </div>
  </div>
</div>

