.tm-block.tm-block-main
  .uk-container.uk-container-center
    .tm-middle.uk-grid{"data-uk-grid-margin" => "", "data-uk-grid-match" => ""}
      .tm-main.uk-width-medium-1-1
        %main.tm-content
          %article.uk-article
            %div
              %p
              .fabrikDataContainer.filmstrip.homefilmstrip
                #list_34_com_content_34
                  .fabrik_groupdata
                    .uk-grid.critics
                      .uk-width-1.uk-width-medium-1-2
                        %span.uk-h2= @collection.collection_name
                        %br/
                        = @collection.collection_description_
                        %br/
                        %br/
                        %a#critic_11.uk-button.addCritics Sígueme
                    .uk-grid
                      - @collection.titles.each do |title|
                        =render 'shared/title', title: title
                    %br/
                    %h4.main-heading.uk-width-1-1 Other Collections you might like
                    .uk-grid
                      - Collection.all.each do |coll|
                        .uk-width-medium-1-4
                          %p.uk-text-left.mtop
                            - if coll.image.present?
                              %a{:href => "/collections/#{coll.id}"}
                                %img.fabrikLightBoxImage{:alt => "#{coll.image.name}", :src => "#{coll.image.url(:custom)}"}/
                          %h3.uk-text-left.bottom-heading
                            %a{:href => "/"}
                              = coll.collection_name
                              %small
                                by #{User.find(coll.user_id).email}
                            %a#collection_11.follow_btn_small{:onclick => ""} Follow
                  .filmstrip_footer
                    .fabrik___heading
                      %span
                        .fabrikNav
              %p
              %br/
              %br/
              %br/
              %br/
