%main.tm-content
  .system-message-container
    - if notice.present?
      .uk-alert.uk-alert-large.uk-alert-success= notice
    - if alert.present?
      .uk-alert.uk-alert-large.uk-alert-success= alert
  %article.uk-article
    %div
      .row
        .col-md-10
          - i = 0
          - @countries.each do |genre|
            .uk-width-medium-9-10
              - @titles = @connection.connection.execute(" select * from titles where id in (select title_id from country_titles where country_id in (select id from countries where id = #{genre.id} )) limit 5" )
              - if genre.active == '["1"]' && @titles.first.present?
                %p
                  %span.uk-h2
                    = genre.country
                    .row
                      - @titles.each do |film|
                        .col-md-3
                          - if (film[6].present?) && (film[6].include? '1')
                            .strip-container
                              %a{:href => "/titles/#{film[0]}"}
                                %img.fabrikLightBoxImage{:alt => "No-image.jpg", :src => "#{Title.find(film[0]).keyArt.url(:medium)}"}/
                              .strip-conainer-hover{:style => "text-align:justify"}
                                %h1= truncate(film[2],:length => 20)
                                %i= film[3]
                                %h3
                                %div
                                  %span= truncate(film[2],:length => 20)
                                  %br/
                                  %br/
                                  %span
                                    %small
                                    %small= film[3]
                                  %br/
                                  %br/
                                  = truncate(film[5],:length => 160)
                                  %br/
                                  %br/
                                =link_to image_tag('heart.png'), add_to_favorite_path(film[0]), class: "round-icon add_favourite"
                                =link_to image_tag('cross.png'), add_to_removal_path(film[0]), class: "round-icon Remove_view"
                                =link_to image_tag('edit.png'), add_to_que_path(film[0]), class: "round-icon myqueue"

        .col-md-2
          =render 'layouts/partials/sidebar'
