.tm-block.tm-block-top-b.tm-block-padding-collapse.tm-block-fullwidth
  .uk-container.uk-container-center
    %section.tm-top-b.uk-grid{"data-uk-grid-margin" => "", "data-uk-grid-match" => "{target:'> div > .uk-panel'}"}
      .uk-width-1-1
        .uk-panel.uk-panel-box.ui-text-left.hide_tag_line
          %h2.uk-h1{:style => "text-align: center;"}
            %br>/
            Porque nos gustan las películas en español,
            = succeed "te" do
              %br/
            = succeed "\u{a1}Mira" do
              %br/
            %br/
            %br/
.tm-block.tm-block-main
  .uk-container.uk-container-center
    .tm-middle.uk-grid{"data-uk-grid-margin" => "", "data-uk-grid-match" => ""}
      .tm-main.uk-width-medium-1-1
        %main.tm-content
          .system-message-container
            - if notice.present?
              .uk-alert.uk-alert-large.uk-alert-success= notice
            - if alert.present?
              .uk-alert.uk-alert-large.uk-alert-success= alert
          %article.uk-article
            %div
              %p
              .fabrikDataContainer.homefilmstrip
                #list_34_com_content_34
                  .fabrik_groupdata
                    .uk-grid
                      .uk-width-1-1.uk-h2.main-heading
                        = @collections.first.collection_name
                        by
                        %span.auth= @collections.first.user.name
                      -@collections.first.titles.each do |title|
                        =render 'shared/title', title: title

              .fabrikDataContainer.filmstrip.homefilmstrip
                #list_34_com_content_34
                  .fabrik_groupdata
                    %h4.main-heading Collections
                    .uk-grid.by-butaca
                      - @collections.each do |collection|
                        .col-md-6
                          - if collection.image.present?
                            =render 'shared/collection', collection: collection
                  .filmstrip_footer
                    .fabrik___heading
                      %span
                        .fabrikNav
              %p
              %br/
              %br/
              %br/
              %br/
