.tm-block.tm-block-main
  .uk-container.uk-container-center
  .tm-middle.uk-grid{"data-uk-grid-margin" => "", "data-uk-grid-match" => ""}
    .tm-main.uk-width-medium-1-1
      %main.tm-content
        #details_1_34.fabrikForm.fabrikDetails
          #group1.fabrikGroup.form-horizontal{:style => ""}
            .uk-grid.filmstrip-detail.detail
              .uk-width-3-10.film-img
                #titles___key_art_ro
                  .fabrikSubElementContainer
                    %img.fabrikLightBoxImage{:alt => "", :src => "#{@title.key_art.url(:medium)}"}/
              .uk-width-7-10
                %h1.uk-heading-large.uk-clearfix.title-heading
                  .uk-float-left
                    #titles___filmTitle_ro= @title.film_title
                  .uk-float-left.year
                    - if @title.year_produced.present?
                      (#{@title.year_produced})
                  .detail_rating
                    / <span><strong></strong></span>
                .year_action
                  #titles___Genres_ro
                    Documental, Drama
                .detail_director
                  %span
                    %strong director:
                  #titles___Director_ro= @title.director
                - if !@title.director.present?
                  %br/
                .detail_Actors
                  %span
                    %strong Elenco:
                  #titles___Actors_ro= @title.actors
                .detail_description
                  #titles___shortDescriptionEspanol_ro= @title.snappy_summary
                - if !@title.snappy_summary.present?
                  %br/
                  %br/
                  %br/
                  %br/
                /
                  <div class="detail_rating">
                  <span><strong></strong></span>


                  </div>
                .addToFav
                  -if current_user
                    %a#add_.btn.uk-button.add_favourite.btn-action-title{"data-uk-tooltip" => "{pos:'top-right'}", :onclick => "return AddtoFav(id)", :title => "Agregar a mis favoritos"}=t('add_to_favorite')
                  -else
                    =link_to t('add_to_favorite'), new_user_registration_path, class: "btn uk-button add_favourite btn-action-title"

                  -if current_user
                    %a#film_.btn.uk-button.Remove_view.add_favourite.btn-action-title{"data-uk-tooltip" => "{pos:'top-right'}", :onclick => "return RemoveFromView(id)", :title => "Eliminar de la vista"}=t('remove_from_view')
                  -else
                    =link_to t('remove_from_view'), new_user_registration_path, class: "btn uk-button add_favourite btn-action-title"

                  -if current_user
                    %a#addqueue_.btn.uk-button.myqueue.add_favourite.btn-action-title{"data-uk-tooltip" => "{pos:'top-right'}", :onclick => "return MyQueue(id)", :title => "Want To Watch"}=t('add_to_queue')
                  -else
                    =link_to t('add_to_queue'), new_user_registration_path, class: "btn uk-button add_favourite btn-action-title"

                  %a.uk-button.btn.btn-action-title{"data-target" => "#myModal", "data-toggle" => "modal", :href => report_message_path}=t('report_a_problem')


              .detail_platform.uk-width-1-1
                .uk-panel.uk-panel-box.uk-width-medium-10-10
                  %span
                    %strong=t('platforms')
                    =social_share_button_tag(@title.film_title, :popup => true)
                    -if @title.notifications.where(user: current_user).any?
                      =link_to t('notify_me'), follow_title_path(@title), class: "follow-btn btn followed", remote: true
                    -else
                      =link_to t('notify_me'), follow_title_path(@title), class: "follow-btn btn", remote: true
                  %div{:id => "titles___platform_ro go-watch"}
                    -if @title.movie_streams.any? then
                      -@title.movie_streams.each do |stream|
                        .platform_detail
                          -if stream.movie_stream_link_type
                            =link_to(image_tag(stream.movie_stream_link_type.logo.url, alt: stream.link_type, height: "100px", width: "200px"), stream.link, target: "_blank", title: stream.link_type, class: "uk-thumbnail")
                          %span.uk-thumbnail.price_platform
                            =link_to "View", stream.link
                    -else
                      =t('platfrom_not_avalible')
                      %br
                      %br
                      %br
                      %br
