= render "shared/header"
= render 'shared/subnavbar'
.tm-block.tm-block-main
  .uk-container.uk-container-center
  .tm-middle.uk-grid{"data-uk-grid-margin" => "", "data-uk-grid-match" => ""}
    .tm-main.uk-width-medium-1-1
      %main.tm-content
        #details_1_34.fabrikForm.fabrikDetails
          #group1.fabrikGroup.form-horizontal
            %button{:type => "button", :class => "close-modal", "data-dismiss" => "modal", "aria-label" => "Close"}
              %span{"aria-hidden" => "true"}
                =t('close')
                %span
                  %img{"src" => '/assets/close.png'}
            .uk-grid.filmstrip-detail.detail
              .film-main-info
                .uk-width-3-10.film-img
                  #titles___key_art_ro
                    .fabrikSubElementContainer
                      %img.fabrikLightBoxImage{:alt => "", :src => "#{@title.key_art.url(:medium)}"}/
                      -if !current_user then
                        =rating_for(@title, "users_score", :enable_half => true, :half_show => true, readonly: true)
                      -else
                        =rating_for(@title, "users_score", :enable_half => true, :half_show => true)
                .film-details
                  %h1.uk-heading-large.uk-clearfix.title-heading
                    .uk-float-left
                      #titles___filmTitle_ro= @title.film_title
                    .uk-float-left.year
                      - if @title.year_produced.present?
                        (#{@title.year_produced})
                    .detail_rating
                      / <span><strong></strong></span>
                  .detail-info.detail_contry
                    %span.detail_label
                      =t('country')
                    %span.detail_content
                      =@title.countries.collect(&:country).join(', ')
                  .year_action
                    #titles___Genres_ro
                      =@title.genres.collect(&:genre_espanol).join(' · ')
                  .detail-info.detail_director
                    %span.detail_label
                      =t('director')
                    %span.detail_content#titles___Director_ro= @title.director
                  .detail-info.detail_Actors
                    %span.detail_label
                      =t('starring')
                    %span.detail_content#titles___Actors_ro=@title.actors
                  .detail_description
                    #titles___shortDescriptionEspanol_ro= @title.snappy_summary
                  - if !@title.snappy_summary.present?
                    %br/
                    %br/
                    %br/
                    %br/
                  /
                    <div class="detail_rating">
                    <span><strong></strong></span>


                    </div>
                .film-buttons
                  .addToFav
                    -if current_user
                      %a#add_.btn.uk-button.add_favourite.btn-action-title.btn-like{"data-uk-tooltip" => "{pos:'top-right'}", :onclick => "return AddtoFav(id)", :title => "Me gusta"}=t('add_to_favorite')
                    -else
                      =link_to new_user_registration_path, class: "btn uk-button add_favourite btn-action-title btn-like" do
                        %span.icon-heart
                        %span=t('add_to_favorite')

                    -if current_user
                      %a#film_.btn.uk-button.Remove_view.add_favourite.btn-action-title.btn-remove{"data-uk-tooltip" => "{pos:'top-right'}", :onclick => "return RemoveFromView(id)", :title => "Eliminar de la vista"}=t('remove_from_view')
                    -else
                      =link_to new_user_registration_path, class: "btn uk-button add_favourite btn-action-title btn-remove" do
                        %span.icon-playlist-remove
                        %span=t('remove_from_view')

                    -if current_user
                      %a#addqueue_.btn.uk-button.myqueue.add_favourite.btn-action-title.btn-queue{"data-uk-tooltip" => "{pos:'top-right'}", :onclick => "return MyQueue(id)", :title => "Want To Watch"}=t('add_to_queue')
                    -else
                      =link_to new_user_registration_path, class: "btn uk-button add_favourite btn-action-title btn-queue" do
                        %span.icon-playlist-plus
                        %span=t('add_to_queue')

                    -if current_user
                      %a.uk-button.btn.btn-action-title{"data-target" => "#myModal", "data-toggle" => "modal", :href => report_message_path}=t('report_a_problem')

              .detail_platform.uk-width-1-1
                .uk-panel.uk-panel-box.uk-width-medium-10-10
                  %div.platforms_title
                    %strong=t('platforms')
                    %div{:style => "display: none"}
                      =social_share_button_tag(@title.film_title, :popup => true)
                      -if @title.notifications.where(user: current_user).any?
                        =link_to t('notify_me'), follow_title_path(@title), class: "follow-btn btn followed", remote: true
                      -else
                        =link_to t('notify_me'), follow_title_path(@title), class: "follow-btn btn", remote: true
                  %div{:id => "titles___platform_ro go-watch", class: "go_watch"}
                    -if @title.movie_streams.any? then
                      -streams = []
                      -streams[0]=@title.movie_streams.find_all{ |stream| stream.link_type.include? "instant" }
                      -streams[1]=@title.movie_streams.find_all{ |stream| stream.link_type.include?("dvd") || stream.link_type.include?("bluray") }
                      -streams[2]=@title.movie_streams.find_all{ |stream| stream.link_type.include? "rental" }
                      -streams[3]=@title.movie_streams.find_all{ |stream| stream.link_type.include? "purchase" }
                      %table
                        %thead
                          %tr
                            %td
                              FREE
                            %td
                              DIGITAL PURCHASE
                            %td
                              RENTAL
                            %td
                              PURCHASE
                        %tbody
                          %tr
                            -streams.each do |streamType|
                              %td
                                -streamType.each do |stream|
                                  -if streamType
                                    %div.platform_detail
                                      -if stream.movie_stream_link_type
                                        =link_to stream.link, target: "_blank", title: stream.link_type, class: "uk-thumbnail" do
                                          -if stream.link_type.include? "netflix"
                                            %img{src: "/assets/netflix.png"}
                                          -elsif stream.link_type.include? "amazon"
                                            %img{src: "/assets/amazon.png"}
                                          -elsif stream.link_type.include? "apple"
                                            %img{src: "/assets/apple.png"}
                                          -elsif stream.link_type.include? "youtube"
                                            %img{src: "/assets/youtube.png"}
                                          -elsif stream.link_type.include? "hulu"
                                            %img{src: "/assets/hulu.png"}
                                          -elsif stream.link_type.include? "vudu"
                                            %img{src: "/assets/vudu.png"}
                                          %div.go-play
                                            .icon-play
                                      %div.uk-thumbnail.price_platform
                                        -if stream.link_type.include? "netflix"
                                          %img{src: "/assets/netflix.png"}
                                        -elsif stream.link_type.include? "amazon"
                                          %img{src: "/assets/amazon.png"}
                                        -elsif stream.link_type.include? "apple"
                                          %img{src: "/assets/apple.png"}
                                        -elsif stream.link_type.include? "youtube"
                                          %img{src: "/assets/youtube.png"}
                                        -elsif stream.link_type.include? "hulu"
                                          %img{src: "/assets/hulu.png"}
                                        -elsif stream.link_type.include? "vudu"
                                          %img{src: "/assets/vudu.png"}
                                        %div.go-play
                                          .icon-play
                    -else
                      =t('platfrom_not_avalible')
                      %br
                      %br
                      %br
                      %br
