.film-preview-wrapper{id: "title-#{title.id}"}
  .film-preview{style: "background-image: url('#{title.key_art.url(:medium)}');"}
    .film-preview__overlay
      =render partial: 'shared/fav_buttons', locals: {show_view_button: true, title: title}

    .film-preview__background

  .film-preview__info
    .film-preview__info__name= truncate(title.film_title, :length => 20)
    .film-preview__info__country= title.countries.collect(&:country).join(', ')
  .info{"style" => "display: none;"}
    %h5= truncate(title.film_title, :length => 20)
    .icon
      -if current_user
        -if current_user.user_favorites.collect(&:title_id).include?(title.id) then
          =link_to image_tag('heart-red.png', style: "width: 38px;"), add_to_favorite_path(title.id), remote: true
        -else
          =link_to image_tag('heart.png'), add_to_favorite_path(title.id), class: "round-icon add_favourite", remote: true
      -else
        =link_to image_tag('heart.png'), new_user_registration_path, class: "round-icon add_favourite"
    .icon
      -if current_user
        -if current_user.user_removals.collect(&:title_id).include?(title.id) then
          =link_to image_tag('cross-red.png', style: "width: 38px;"), add_to_removal_path(title.id), remote: true
        -else
          =link_to image_tag('cross.png'), add_to_removal_path(title.id), class: "round-icon Remove_view", remote: true
      -else
        =link_to image_tag('cross.png'), new_user_registration_path, class: "round-icon Remove_view"
    .icon
      -if current_user
        -if current_user.user_queues.collect(&:title_id).include?(title.id) then
          =link_to image_tag('edit-red.png', style: "width: 38px;"), add_to_que_path(title.id), remote: true
        -else
          =link_to image_tag('edit.png'), add_to_que_path(title.id), class: "round-icon myqueue", remote: true
      -else
        =link_to image_tag('edit.png'), new_user_registration_path, class: "round-icon myqueue"
