<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebarr" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div id="user-block" class="collapse">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                        <div class="circle circle-success circle-lg"></div>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name">Hello, Mike</span>
                     <span class="user-block-role">Designer</span>
                  </div>
               </div>
            </div>
         </li>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="<%= 'active' if controller?('collections') %>">
            <a href="<%= collections_path %>" title="Collections">
               <span data-localize="sidebar.nav.element.ELEMENTS">Collections</span>
            </a>
            <ul id="elements" class="nav sidebar-subnav collapse <%='in' if controller?('collections')%>">
               <li class="sidebar-subnav-header">Collections</li>
               <%@collection_list.each do |col|%>
                 <li>
                   <%=link_to col.collection_name, collection_path(col)%>
                 </li>
               <%end%>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('countries')%>">
            <a href="#forms" title="Pais" data-toggle="collapse">
              <%=image_tag("country.png", style: "width: 20px;")%>
               <span data-localize="sidebar.nav.form.FORM">Pais</span>
            </a>
            <ul id="forms" class="nav sidebar-subnav collapse <%='in' if controller?('countries')%>">
               <li class="sidebar-subnav-header">Pais</li>
               <%@country_list.each do |pais|%>
                 <li>
                   <div class="label"><%=pais.titles.count%></div>
                   <%=link_to pais.country, country_path(pais)%>
                 </li>
               <%end%>
            </ul>
         </li>
         <li class="<%= 'active' if controller?('genre') %>">
            <a href="#charts" title="Genero" data-toggle="collapse">
              <%=image_tag("genre.png", style: "width: 20px;")%>
               <span data-localize="sidebar.nav.chart.CHART">Genero</span>
            </a>
            <ul id="charts" class="nav sidebar-subnav collapse <%='in' if controller?('genre')%>">
               <li class="sidebar-subnav-header">Charts</li>
               <%@genre_list.each do |genre|%>
               <li>
                 <div class="pull-right label label-success"><%=genre.titles.count%></div>
                 <%=link_to genre.genre_espanol, genre_path(genre)%>
               </li>
               <%end%>
            </ul>
         </li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
   </br>
</div>
<!-- END Sidebar (left)-->
