!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Butaca
    = stylesheet_link_tag 'base'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'base', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

    %script{src: "https://use.typekit.net/jyt7bua.js"}
    %script
      try{Typekit.load({ async: true });}catch(e){}
  %body
    = render "shared/header"
    = render 'shared/subnavbar'
    #alert-container
      = render "shared/alert"
  .container-fluid.margin.width-margin
    = yield
  -if current_page?(root_url)
    = render "shared/footer"



    / /.modal-content
  / /.modal-dialog
/ /.modal

#modalTitle.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-main-content

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
