!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Butaca
    = stylesheet_link_tag 'base'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'base', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
    :javascript
      $(window).scroll(function() {
          if ($(this).scrollTop() >= 100)
          {
             $('.navbar.navbar-default.navbar-inverse').addClass('small');
      	}
      	if ($(this).scrollTop() === 0) {
             $('.navbar.navbar-default.navbar-inverse').removeClass('small');
          }
      	});
  %body
    = render "shared/header"
    #alert-container
      = render "shared/alert"
  .container-fluid.margin.width-margin
    = yield
  -if current_page?(root_url)
    = render "shared/footer"

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content

    / /.modal-content
  / /.modal-dialog
/ /.modal
